.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    gap: 40px;
}

.container{
    padding: 0 22rem;
    /* max-width: 400px; */
}

@media only screen and (max-width: 400px) {
    .container{
        padding: 0 1rem;
        /* max-width: 400px; */
    }

    .main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        padding: 2rem;
        min-height: 100vh;
        gap: 20px;
        font-size: small;
    }
    
  }