.main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 2rem;
    min-height: 100vh;
    gap: 40px;
}

.blogItemh3{
    cursor: pointer;
}